@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
   grid-template-columns: 1fr 1.8fr;
   grid-template-rows: 1fr;
   gap: 0px 0px;
   grid-template-areas:
      ". .";
   background-image: url('./Assets/backgrounds/homeBackground.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#homeTitle {
   background-image: url('./Assets/backgrounds/homeBackground.jpg');
   background-position: right;
   background-repeat: no-repeat;
   background-size: cover;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}

#homeBottom {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background-color: rgba(240, 248, 255, 0.684);
}

#nameInput {
   height: fit-content;
   width: 14rem;
   position: relative;
   margin: 20px;
}

#nameIcon {
   display: block;
   position: absolute;
   left: -2.6rem;
   width: 2.3rem;
   height: 2.3rem;
   background-image: url('./Assets/astronaut.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}

.bullet {
   background-image: url('./Assets/ammo.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   width: 1.8rem;
   height: 2rem;
}

.enemy {
   position: absolute;
   width: 4rem;
   height: 3rem;
}

.enemy1 {
   background-image: url('./Assets/ships/enemy1.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 6rem;
   height: 4rem;
}

.enemy2 {
   background-image: url('./Assets/ships/enemy2.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 5rem;
   height: 4rem;
}

.enemy3 {
   background-image: url('./Assets/ships/enemy3.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 8rem;
   height: 5rem;
}


.startButton,
.startButton2 {
   background: #FBCA1F;
   font-family: inherit;
   padding: 0.6em 1.3em;
   font-weight: 900;
   font-size: 18px;
   border: 3px solid black;
   border-radius: 0.4em;
   box-shadow: 0.1em 0.1em;
   user-select: none;
   z-index: 50;
}

.startButton:hover,
.startButton2:hover {
   transform: translate(-0.08em, -0.08em);
   box-shadow: 0.15em 0.15em;
}

.startButton:active,
.startButton2:active {
   transform: translate(0.05em, 0.05em);
   box-shadow: 0.05em 0.05em;
}



#table {
   background-color: #64646487;
   color: rgb(255, 255, 255);
   width: 90%;
   height: fit-content;
   font-family: 'Trispace', sans-serif;
   /* display: flex;
   flex-direction: column;
   align-items: end; */
}
.coloredCells {
   background-color: rgba(45, 45, 45, 0.642);
}
.countCell{
   width: 3.5rem;
}
.nameCell{
text-align: start;}
.middleCell{
   overflow: -moz-hidden-unscrollable;
   text-align: center;
   max-width: 10rem;
}
.scoreCell{
  text-align: center;
  font-size: 1.3rem;
}

.playerRow {
   background-color: rgba(50, 50, 50, 0.759);
   color: antiquewhite;
}


#settings {
   width: 5.5rem;
   height: 2.5rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: transparent;
   position: fixed;
   top: 0;
   left: 0;
   margin: 0.6rem;
   z-index: 46;
}

#settings > span:first-child  {
   background-image: url('./Assets/pause.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   width: 35%;
   height: 85%;
   padding: 1rem;
}
#settings > span:last-child {
/* background-image: url('./Assets/audio.png'); */
background-position: center;
background-repeat: no-repeat;
background-size: contain;
width: 35%;
height: 85%;
padding: 1rem;
}




@media only screen and (max-width: 920px) and (orientation: portrait) {
   .middleCell{
      max-width: 6.5rem;
   }
   .home {
      grid-template-columns: 1fr; 
      grid-template-rows: 2.5fr 2fr; 
   gap: 0px 0px; 
   grid-template-areas: 
      "."
      "."; 
      background-image: url('./Assets/backgrounds/homeBackground.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
   #homeTitle {
      font-size: larger;
      margin: 0;
      text-align: center;
   }
   #nameInput {
      padding-left: 3rem;
      width: 15rem;
   }
   #nameIcon {
      left: 0;
   }
}
@media only screen and (max-width: 920px) and (orientation: landscape) {


   .endButton , .pausedButton{
      width: max-content !important;
      height: max-content !important;
   }
   .nameCell{
      font-size: 0.9rem;
   }
.scoreCell{
   font-size: 1rem;
}
.middleCell{
   font-size: 0.8rem;
   max-width: 9rem;
}

   .home {
      grid-template-columns: 2fr 2.5fr; 
      grid-template-rows: 2.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 
      background-image: url('./Assets/backgrounds/homeBackground.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   #homeTitle {
      font-size: larger;
      margin-bottom: 1rem;
      width: 80%;
      text-align: center;
   }

   #nameInput {
      width: 15rem;
      margin: 1rem;
      padding-left: 3rem;
   }
   #nameIcon {
      left: 0;
   }

   #nameInput>input {
      width: 100%;
   }


   .enemy1 {
      width: 4rem;
      height: 3rem;
   }

   .enemy2 {
      width: 5rem;
      height: 4rem;
   }

   .enemy3 {
      width: 7rem;
      height: 4rem;
   }

   .bullet {
      width: 1.2rem;
      height: 1.4rem;
   }

   .d-pad {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 25%;
      height: 40%;
      display: flex;
      align-items: center;
      z-index: 45;
   }

   .d-pad-button {
      /* width: 2rem;
      height: 3rem; */
      background-color: rgba(245, 245, 220, 0.426);
   }

   .up,
   .down {
      height: 2rem;
      width: 3rem;
      position: absolute;
      left: 35%;
   }

   .left,
   .right {
      height: 3rem;
      width: 2rem;
      position: absolute;
      top: 30%;
   }

   .up {
      top: 10%;
   }

   .down {
      bottom: 10%;
   }

   .left {
      left: 10%;
   }

   .right {
      right: 10%;
   }

   #instructions {
      z-index: 49;
      width: 100% !important;
      left: 0% !important;
      height: 80% !important;
      bottom: 3% !important;
      opacity: 0.95 !important;
   }
   #fireButton {
      z-index: 45;
   }
   #joyStick {
      z-index: 45;
   }
}